<navbar menu="navbarContent"></navbar>

<header id="home" class="text-center">
    <div class="content">
        <h1>Forging new game experiences</h1>
        <hr>
        <p>We are Runesmith Studios, a workshop of four smiths bestowed with the challenge of crafting new ways players and viewers interact with each other. Will our heroes of questionable honour manage to complete such feat? </p>
        <a du-smooth-scroll="about" class="btn btn-big">Will they?</a>
    </div>
</header>

<section id="about">
    <div class="row row-flex content">
        <div class="col col-6 bg-studio text-center">
            <h2>The runes</h2>
            <hr class="light">
            <p>Whilst trying to craft a new experience the four smiths decided to showcase their inner workings, streaming themselves playing and interacting with as many viewers as they can, providing their customers with new tools to interact and have fun along the way.</p>
            <a du-smooth-scroll="schedule" class="btn btn-big">Come and join 'em!</a>
        </div>
        <div class="col col-6 bg-gaming text-center">
            avocado
        </div>
    </div>
</section>
