<navbar menu="navbarContent"></navbar>

<header id="home" class="text-center">
    <div class="content">
        <h1>Forging new game experiences</h1>
        <hr>
        <p>We are Runesmith Studios, a workshop of four smiths bestowed with the challenge of crafting new ways players and viewers interact with each other. Will our heroes of questionable honour manage to complete such feat? </p>
        <a du-smooth-scroll="about" class="btn btn-big">Will they?</a>
    </div>
</header>

<section id="about">
    <div class="row row-flex content">
        <div class="col col-5 bg-studio">
            <div class="vertical-center left">
                <h2>Our games foundry</h2>
                <hr class="light">
                <p>Here the smiths labor nonstop to forge new games, always improving their techniques to better mold their ideas, bringing innovative gameplay and design to all.</p>
                <div class="center-button">
                    <a du-smooth-scroll="schedule" class="btn btn-big btn-studio">
                        Enter the forge!
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-2 bg-mix">
        </div>
        <div class="col col-5 bg-gaming">
            <div class="vertical-center right">
                <h2><br />The runes</h2>
                <hr class="light">
                <p>Whilst trying to craft a new experience the four smiths decided to showcase their inner workings, streaming themselves playing and interacting with as many viewers as they can, providing their customers with new tools to interact and have fun along the way.</p>
                <div class="center-button">
                    <a du-smooth-scroll="schedule" class="btn btn-big btn-gaming">
                        Come and join 'em!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
