<!doctype html>

<html ng-app="havendale">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <base href="/">
        <title>Runesmith Studios</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='lib/siimple/dist/siimple.css') }}" />

        <!-- Custom Fonts -->
        <link
            href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
            rel='stylesheet'
            type='text/css'>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.5b74a5fd.css') }}" />
    </head>

    <body id="page-top">
        <div ui-view></div>

        <!-- our code -->
        <script src="{{ url_for('static', filename='js/scripts.min.6c078c8b.js') }}"></script>
    </body>
</html>
