<!doctype html>

<html ng-app="havendale">
    <head>
        <meta charset="utf-8" />
        <base href="/">
        <title>Runesmith Studios</title>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='lib/bootstrap-css-only/css/bootstrap.min.css') }}" />

        <!-- Custom Fonts -->
        <link
            href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
            rel='stylesheet'
            type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
            rel='stylesheet'
            type='text/css'>

        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.b00a3f4f.css') }}" />
    </head>

    <body id="page-top">
        <div ui-view></div>

        <!-- our code -->
        <script src="{{ url_for('static', filename='js/scripts.min.b9d9ddac.js') }}"></script>
    </body>
</html>
