@mixin btn($color, $bg-color, $h-color, $h-bg-color) {
    text-transform: uppercase;
    border-radius: 300px;

    font-size: 1em !important;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

    background-color: $bg-color;
    color: $color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $h-color;
        background-color: $h-bg-color;
    }
}
