navbar {
    background-color: transparent;
    transition: all 0.5s;
    position: fixed;
    z-index: 5;
    top: 0;

    .banner {
        background-image: url("../img/horizontal.white.logo.png");
        background-size: contain;
        background-origin: content-box;
        background-repeat: no-repeat;

        transition: all 0.5s;

        &:hover {
            background-image: url("../img/horizontal.purple.logo.png");
        }
    }

    a {
        text-transform: uppercase;
        color: $slightly-transparent;

        cursor: pointer;
        text-align: center;
        text-decoration: none;

        height: 4em;
        line-height: 4em;

        &.active,
        &:hover {
            color: $studio-purple;
            text-decoration: none;
        }
    }

    // 'Scrolled' state

    &.affix {

        background-color: white;

        .banner {
            background-image: url("../img/horizontal.logo.png");

            &:hover {
                background-image: url("../img/horizontal.purple.logo.png");
            }
        }

        a {

            height: 3em;
            line-height: 3em;

            color: black;

            &:hover {
                color: $studio-purple;
                text-decoration: none;
            }
        }
    }

    // responsive design

    @media screen and (max-width:768px) {
        a:not(:first-child) {
            display: none;
        }
    }

    @media screen and (max-width:320px) {
        a {
            height: 3em;
            line-height: 3em;
        }

        .affix {
            a {
                height: 2em;
                line-height: 2em;
            }
        }
    }
}
