body {
    margin: 0;
    background-color: black;
}

$studio-purple: rgba(185, 123, 182, 1);
$transparent-studio-purple: rgba(185,123,182,0.62);
$slightly-transparent: rgba(255, 255, 255, 0.7);

$gaming-blue: rgba(0, 165, 176, 1);

a {
    transition: all 0.5s;
    color: $studio-purple;
    cursor: pointer;

    &:hover, &:focus {
        color: orange;
    }
}

.bg-studio {
    background-color: $studio-purple;
}

.bg-gaming {
    background-color: $gaming-blue;
}

.text-center {
    text-align: center;
}

hr.light {
    border-color: white;
}

@import 'mixins';
@import 'navbar';
@import 'home.header';
@import 'home.about';
