body {
    margin: 0;
}

$studio-purple: rgba(174, 130, 181, 1);
$transparent-studio-purple: rgba(174,130,181,0.62);
$slightly-transparent: rgba(255, 255, 255, 0.7);

a {
    transition: all 0.5s;
    color: $studio-purple;
    cursor: pointer;

    &:hover, &:focus {
        color: orange;
    }
}

.btn {
    text-transform: uppercase;
    border-radius: 300px;
}

@import 'navbar';
@import 'home';
